* {
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #19202e;
    color: #fff;
}

/* ------------------------HEADERS LIST------------------------ */
.icons-ul  {
    display: flex;
    column-gap: 2rem;
}

.icon{
    display: inline-flex;
}

.button {
    position: absolute;
    right: 0;
    padding: .5rem;
    border-radius: 1rem;
    background-color: cyan;
    color: #000;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}

.button:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

/* ------------------------PIC------------------------ */
.picture{
    display: grid;
    place-items: center;
}

.head-shot {
    max-width: 10rem;
    border-radius: 50%;
}

/* ------------------------PRESENTATION------------------------ */
.name{
    display: flex;
    justify-content: center;
    background-color: #1e2738;
    padding: 1.25rem;
    margin: 0;
    border-radius: 1rem;
}


.title{
    display: flex;
    justify-content: center;
    background-color: #1e2738;
    color: #9fadc7;
    padding: .25rem;
    border-radius: 1rem;
    margin: 0;
}

.contact-list{
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    border-top: .1rem solid #808080;
    border-bottom: .1rem solid #808080;
}

/* ------------------------MAIN------------------------ */
.main{
    display: flex;
    flex-wrap: nowrap;
    background-color: #1e2738;
    padding: 1.25rem ;
}